<div flex="100">
	<form layout="column">
		<div flex layout="row" class="search-form-wrapper">
			<div flex="45">
				<md-input-container>
					<label>Departure Airport</label>
					<md-autocomplete
						md-selected-item="selectedItem"
						md-search-text="searchText"
						md-search-text-change="searchTextChange(searchText)"
						md-selected-item-change="selectedItemChange(item)"
						md-items="item in querySearch(searchText)"
						md-item-text="itemText(item)"
						md-min-length="1"
						md-input-name="origin_airport"
						placeholder="Where are you flying from?">
						<md-item-template>
							<span md-highlight-text="searchText">{{itemText(item)}}</span>
						</md-item-template>
						<md-not-found>
							No matches found.
				 		</md-not-found>
					</md-autocomplete>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container>
					<label>Depart</label>
					<md-datepicker
						md-placeholder="Depart"
						md-hide-icons="calendar"
						ng-model="departureDate"
						md-current-view="month"
						md-min-date="today">
					</md-datepicker>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container>
					<label>Return</label>
					<md-datepicker
						md-placeholder="Return"
						md-hide-icons="calendar"
						ng-model="returnDate"
						md-current-view="month"
						md-min-date="today">
					</md-datepicker>
				</md-input-container>
			</div>
			<div flex="10">
				<md-input-container>
					<label>Passengers</label>
					<md-select ng-model="passengers" class="md-no-underline">
						<md-option value="1">1</md-option>
						<md-option value="2">2</md-option>
						<md-option value="3">3</md-option>
						<md-option value="4">4</md-option>
						<md-option value="5">5</md-option>
						<md-option value="6">6</md-option>
						<md-option value="7">7</md-option>
						<md-option value="8">8</md-option>
						<md-option value="9">9</md-option>
						<md-option value="10">10</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex="10">
				<md-input-container>
					<label>Budget</label>
					<input type="text" placeholder="$$$">
				</md-input-container>
			</div>
			<div flex="10">
				<md-button>Search</md-button>
			</div>
		</div>
		<div flex layout="column" class="search-form-options-wrapper">
			<div flex="100" layout="row" layout-align="end">
				<a slide-toggle="#homepage-search-options" ng-click="toggle = !toggle">
					<span ng-class="{'is-hidden' : toggle}">More Options <md-icon md-svg-src="assets/media/icons/chevron-down.svg" aria-label="More Options"></md-icon></span>
					<span ng-class="{'is-hidden' : !toggle}">Hide <md-icon md-svg-src="assets/media/icons/chevron-up.svg" aria-label="Less Options"></md-icon></span>
				</a>
			</div>
			<div id="homepage-search-options" class="slideable" flex="100" layout="column">
				<h3 class="search-options-heading" flex="65">Flexible Dates</h3>
				<div flex="65" layout="row" layout-align="start center">
					<div flex>
						<md-input-container>
							<label>Days Before</label>
							<md-select ng-model="flexibleBefore" class="md-no-underline">
								<md-option value="-1">1</md-option>
								<md-option value="-2">2</md-option>
								<md-option value="-3">3</md-option>
								<md-option value="-4">4</md-option>
								<md-option value="-5">5</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container>
							<label>Days After</label>
							<md-select ng-model="flexibleAfter" class="md-no-underline">
								<md-option value="+1">1</md-option>
								<md-option value="+2">2</md-option>
								<md-option value="+3">3</md-option>
								<md-option value="+4">4</md-option>
								<md-option value="+5">5</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<h3 class="search-options-heading" flex="65">Destinations</h3>
				<div flex="100" layout="row">
					<md-tabs md-dynamic-height>
						<md-tab label="Destination">
							<div layout="row" layout-align="start center" class="search-form-tab-container">
								<div flex>
									<md-input-container>
										<label>Where to?</label>
										<md-autocomplete
											md-selected-item="selectedItem"
											md-search-text="searchText"
											md-search-text-change="searchTextChange(searchText)"
											md-selected-item-change="selectedItemChange(item)"
											md-items="item in querySearch(searchText)"
											md-item-text="itemText(item)"
											md-min-length="1"
											md-input-name="origin_airport"
											placeholder="Where are you going?">
											<md-item-template>
												<span md-highlight-text="searchText">{{itemText(item)}}</span>
											</md-item-template>
											<md-not-found>
												No matches found.
									 		</md-not-found>
										</md-autocomplete>
									</md-input-container>
								</div>
								<div flex>
									<md-input-container>
										<md-checkbox ng-model="oneWay" aria-label="One Way T/F">
							            	One Way?
							          	</md-checkbox>
									</md-input-container>
								</div>
							</div>
						</md-tab>
						<md-tab label="Multi-Destination Trip">
							<div layout="row" class="search-form-tab-container">
								<div flex>
									<md-input-container>
										<label>Origin</label>
										<md-autocomplete
											md-selected-item="selectedItem"
											md-search-text="searchText"
											md-search-text-change="searchTextChange(searchText)"
											md-selected-item-change="selectedItemChange(item)"
											md-items="item in querySearch(searchText)"
											md-item-text="itemText(item)"
											md-min-length="1"
											md-input-name="origin_airport"
											placeholder="Where are you going?">
											<md-item-template>
												<span md-highlight-text="searchText">{{itemText(item)}}</span>
											</md-item-template>
											<md-not-found>
												No matches found.
									 		</md-not-found>
										</md-autocomplete>
									</md-input-container>
								</div>
								<div flex>
									<md-input-container>
										<label>Destination</label>
										<md-autocomplete
											md-selected-item="selectedItem"
											md-search-text="searchText"
											md-search-text-change="searchTextChange(searchText)"
											md-selected-item-change="selectedItemChange(item)"
											md-items="item in querySearch(searchText)"
											md-item-text="itemText(item)"
											md-min-length="1"
											md-input-name="arrival_airport"
											placeholder="Where are you going?">
											<md-item-template>
												<span md-highlight-text="searchText">{{itemText(item)}}</span>
											</md-item-template>
											<md-not-found>
												No matches found.
									 		</md-not-found>
										</md-autocomplete>
									</md-input-container>
								</div>
								<div flex>
									<md-input-container>
										<label>Depart</label>
										<md-datepicker
											md-placeholder="Depart"
											md-hide-icons="calendar"
											ng-model="departureDate"
											md-current-view="month"
											md-min-date="today">
										</md-datepicker>
									</md-input-container>
								</div>
								<div flex>
									<md-input-container>
										<md-button class="md-icon-button" aria-label="Add Destination">
											<md-icon md-svg-icon="assets/media/icons/plus.svg"></md-icon>
										</md-button>
									</md-input-container>
								</div>
							</div>
						</md-tab>
					</md-tabs>
				</div>
			</div>
		</div>
	</form>
</div>