.flexible-flights-grid-container, .flights-search-flexible-grid {
  position: relative; 
  margin-bottom: .5rem;
}

.flexible-grid-container {
  display: block;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  
  div.flexible-grid-header-row {
    background: white;
    color: $active-black;
    
    div.flexible-grid-legend {
      font-size: .5rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      box-sizing: border-box;
      text-align: center;
      color: inherit;
      height: 2.25rem;
    }
    
    div.flexible-grid-column-header {
      font-size: .75rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: border-box;
      text-align: center;
      color: inherit;
      height: 2.25rem;
      border-left: solid 1px $gold;
      
      &.hovered {
        background-color: $gold;
        color: white;
      }
      
      &.selected {
        background-color: $gold;
        color: white;
      }
    }
  }
  
  div.flexible-grid-results-row {
    border-top: solid 1px $gold;
    
    &:first-child {
      border-top: none;
    }
    
    div.flexible-grid-row-header {
      font-size: .75rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: border-box;
      text-align: center;
      background-color: white;
      color: $active-black;
      height: 2.25rem;
      
      .day-label {
        font-size: .75rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: $secondary-gray;
      }
      
      &.hovered {
        background-color: $gold;
        color: white;
      }
      &.selected {
        background-color: $gold;
        color: white;
      }
    }
    
    div.columns {
      border-left: solid 1px $gold;
      
      &:first-child {
        border-left: none;
      }
      
      &.flexible-grid-result {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.75rem;
        text-align: center;
        background-color: white;
        cursor: pointer;
        color: $active-black;
        height: 2.25rem;
        padding-top: 9px;
        padding-bottom: 9px;
        
        &.selected {
          background-color: $gold;
          color: white;
        }
        &.hovered {
          background-color: $gold;
          color: white;
        }
        &.not-available {
          background-color: $midnight;
          color: white;
          cursor: default;
        }
      } 
    }    
  }
}
