md-toolbar#site-header {
  box-shadow: none;
}
#site-header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  color: white;
}

.header-nav, .header-options {
  color: white;
  border: none;
  border-color: transparent;
  border-width: 0;
  border-style: none;
  md-nav-ink-bar {
    display: none;
  }
  .md-nav-bar, .md-button {
    border: none;
    border-color: transparent;
    border-width: 0;
    border-style: none;
  }
  md-ripple-container {
    color: transparent;
  }
}

.header-nav, .header-options {
  ul {
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      padding-right: .5rem;
    }
  }
  md-icon {
    color: #DDDDDD
  }
  text-transform: uppercase;
  font-family: Montserrat,vsans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #DDDDDD
  a:link {
    color: #DDDDDD;
    text-decoration: none;
  }
  a:visited {
    color: #DDDDDD;
    text-decoration: none;
  }
  a:hover {
    color: darken(#DDDDDD, 15%);
    text-decoration: none;
  }
  a:active {
    color: darken(#DDDDDD, 15%);
    text-decoration: none;
  }
}


