.flight-filter-container, .flights-search-filter {
  margin-bottom: .5rem;
  background-color: white;
  position: relative;
  
  .input-label {
    color: $secondary-gray;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .02rem;
  }
}

.horizontal-flights-filter {
  .filter-values {
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  .filter-labels {
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: auto .25rem;
  }
  
  .layover-input {
    display: inline-block;
  }
}