<!DOCTYPE html>
<html ng-app="flyingBye" ng-controller="AppController">
    <head>
        <title ng-bind="pageTitle"></title>
        
        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:image:src" content="">
        <meta property="og:title" content="Flying Bye" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- compiled CSS -->
        {% for file in styles %}
        <link rel="stylesheet" type="text/css" href="{{ file }}" />
        {% endfor %}
        
        <!-- compiled JavaScript -->
        {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
        
    </head>
    <body layout="row">
    	
    	<!-- Side Navigation Menu -->
    	<md-sidenav ui-view="sidenav" md-component-id="site-sidenav" class="md-sidenav-right"></md-sidenav>
    	<!-- End Side Navigation Menu -->
    	
    	<div id="main-content" layout="column" flex>
    		
    		<!-- Header and Nav -->
    		<!-- <md-toolbar id="site-header" md-scroll-shrink layout-align="center" ui-view="header"></md-toolbar>-->
    		<div id="site-header" layout-align="center" ui-view="header"></div>
    		<!-- End Header and Nav -->
    		
    		<!-- Main Content -->
    		<section ui-view="main"></section>
    		<!-- End Main Content --> 
    		
    		<!-- Footer -->
            <footer ui-view="footer"></footer>
            <!-- End Footer --> 
    	</div>
    </body>
</html>
