#welcome {
  z-index: 600;
  
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    @include aspect-ratio(9, 10);
  }
  
  /* Medium and up */
  @media screen and (min-width: 40em) {
    @include aspect-ratio(16, 9);
  }
}

#home-query {
  margin-bottom: 1rem;
  
  .input-label {
    margin-top: 1rem;
  }
}
